<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Xray home</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>

  <body>
    <!-- Image and text -->

    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/home">BRAND</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/about">About Us</a>
          <a class="nav-item nav-link" href="/contact">Contact Us</a>
          <a class="nav-item nav-link" href="/prevention">Preventions</a>
        </div>
        <a class="btn btn-primary" href="/upload" role="button">Test Covid</a>
      </div>
  </nav>
    {% block content %}{% endblock %}
  </body>
</html>
