{% extends "layout.html" %}
{% block content %}
    <div class="prevention-page">
      <div class="row">
        <div class="col-sm odd">
          <img src="static/image1.png" alt="image1">
          Avoid close contact with people who are sick. Maintain at least three feet distance between yourself and anyone who is coughing or sneezing.
        </div>
        <div class="col-sm even">
          <img src="static/image2.png" alt="image1">
          Avoid touching your eyes, nose, and mouth.
        </div>
      </div>

      <div class="row">
        <div class="col-sm odd">
          <img src="static/image3.png" alt="image1">
          Stay home when you are sick.
        </div>
        <div class="col-sm even">
          <img src="static/image4.png" alt="image1">
          Cover your cough or sneeze with a tissue, then dispose of the tissue safely.
        </div>
      </div>

      <div class="row">
        <div class="col-sm odd">
          <img src="static/image5.png" alt="image1">
          Clean and disinfect surfaces frequently especially those which are regularly touched, such as door handles, faucets and phone screens.
        </div>
        <div class="col-sm even">
          <img src="static/image6.png" alt="image1">
          Wash your hands often with soap and water for at least 20 seconds, especially after going to the bathroom.
        </div>
      </div>

      <div class="row">
        <div class="col-sm odd">
          <img src="static/image7.png" alt="image1">
          Make wearing a mask a normal part of being around other people.
        </div>
        <div class="col-sm even">
          <img src="static/image8.png" alt="image1">
          Maintain a safe distance from anyone who is coughing or sneezing. Atleast maintain a distance of 2 meters.
        </div>
      </div>

    </div>
{% endblock content %}
