

{% extends "layout.html" %}
{% block content %}
<div class="content-section">
      <form method="POST" action="" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <div class="container">
            <div class="jumbotron">
                  <h1>{{ form.picture_file.label(class="form-control-label") }}</h1>
                  <p>Upload <strong>jpeg</strong>, <strong>png</strong> or <strong>jpg</strong> file of your chest xray</p>
            </div>
                <div class="upload">
                    {% if form.picture_file.errors %}
                        {{ form.picture_file(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.picture_file.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    <div class="upload-button">
                      {{ form.picture_file(class="up-button") }}
                    </div>

                    {% endif %}
                </div>
              <div class="submit-button">
                  {{ form.submit(class="sub-button") }}
              </div>
          </div>
      </form>
  </div>
{% endblock content %}
